body header {
    justify-items: center;
    justify-content: center;
}

body header nav {
    display: flex;
    gap: 1rem;
}

body header nav h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

body header nav ul {
    padding: 0;
}

.hero {
    justify-items: center;
}

#banner-image {
    display: flex;
}

.sepr {
    display: block;
    background-color: #ffffff;
    width: 0.15rem;
    height: auto;
    max-height: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
